.App {
  text-align: center;
  color: rgb(199, 199, 199);
  background-color: #282c34;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.input {
  display: flex;
  justify-content: space-evenly;
  padding: 10%;
}

.input2 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 1s ease-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
